.news-post {
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: rgb(231, 231, 231);
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.795);
  transition: transform 0.3s ease;
}

.news-post:hover {
  transform: scale(1.02);
}

.news-post-icon {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  margin-left: 0px;
  margin-right: 20px;
}

.news-post-content {
  display: flex;
  flex-direction: column;
}

.news-post-title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.news-post-dates {
  font-size: 0.9em;
  color: #666;
}

.news-post-description {
  margin-top: 5px;
  font-size: 1em;
  color: #333;
}
