*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    position: relative;
}
#stddashboardNav{
    height: 100px;
    width: 100%;
    display: flex;
}
#left{
    height: 100px;
    width: 50%;
    display: flex;
}
#right{
    height: 100px;
    width: 50%;
    display: flex;
}
#Msgbtn{
    height: 40px;
    width: 50px;
    position: absolute;
    left: 1050px;
    top: 35px;
    font-size: 36px;
    font-weight: bolder;
}
#Prfbtn{
    height: 35px;
    width: 100px;
    color: rgb(24, 24, 58);
    border-radius: 5px;
    background-color: rgb(218, 204, 187);
    position: absolute;
    left: 1210px;
    top: 35px;
    font-size: 22px;
    font-weight: bolder;
}
#Nvlogo{
    position: absolute;
    height: 70px;
    width:  150px;
    background-image: url(logo.png);
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    left: 30px;
    top: 10px;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
}
#StdDashboardsidebar{
    height: 507px;
    width: 100%;
}
#leftSide{
    height: 100%;
    width: 250px;
    font-size: 24px;
    font-weight: 700;
    padding-left: 30px;
   font-family:lato, sans-serif;
}
#bar{
    position: absolute;
    width: 4px; 
    height: 55px; 
    background-color: #59C174; 
    transform: rotate(90deg);
    top: 110px;
    left: 55px;
}
#Sbar{
    position: absolute;
    width: 4px; 
    height: 55px; 
    background-color: #59C174; 
    transform: rotate(90deg);
    top: 400px;
    left: 55px;
}
#longline{
    position: absolute;
    width: 2px; 
    height: 505px; 
    top: 102px;
    left: 250px;
    background-color: black;
}
a{
    font-size: 18px;
    font-weight: 700;
    padding-left: 5px;
   font-family:lato, sans-serif;
}
a:hover {
    border-bottom: 2px solid rgb(8, 236, 122); 
    text-decoration: none; 
}
#navpp{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    position: absolute;
    top: 35px;
    right: 110px;
    background-position: center;
    background-size: contain;
}
#Logoutbtn{
    height:50px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;

}
#Logoutbtn:hover{
    height:50px;
    background-color: transparent;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 2px solid rgb(0, 255, 128); 

}
#usern {
    position: absolute;
    height: 35px;
    width: 100px;
    color: rgb(24, 24, 58);
    font-size: 16px;
    font-weight: bolder;
    font-stretch: normal;
    right: 160px;
    top: 30px;
  }
  #dashboard{
    font-size: 18px;
    font-weight: 700;
    padding-left: 5px;
   font-family:lato, sans-serif;

  }
#dashboard:hover {
    border-bottom: 2px solid rgb(0, 255, 128); 
    text-decoration: none; 
}