*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    position: relative;
}
#ALine{
    position: absolute;
    width: 4px; 
    height: 45px; 
    background-color: rgb(0, 0, 255); 
    top: 100px;
    left: 290px;
}
#AAR{
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    top: 100px;
    left: 300px;
    font-family:lato, sans-serif;
}
#Arecord{
    position: absolute;
    font-size: 22px;
    font-weight: 700;
    top: 150px;
    left: 320px;
    text-decoration: underline;
    font-family:lato, sans-serif;
}
#RecordForm #Label1 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 200px;
    left: 350px;
}
#RecordForm #AchievementTitle {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 200px;
    border-color: transparent;
    left: 550px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#RecordForm #Label2 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 250px;
    left: 350px;
}
#RecordForm #Domain {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 250px;
    left: 550px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#RecordForm #Label3 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 300px;
    left: 350px;
}
#RecordForm #Date {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 300px;
    left: 550px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#RecordForm #Label4 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 350px;
    left: 350px;
}
#RecordForm #Year {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 350px;
    left: 550px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#RecordForm #Label5 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 400px;
    left: 350px;
}
#RecordForm #Description {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 400px;
    left: 550px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#RecordForm #Label6 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 450px;
    left: 350px;
}
#RecordForm #Upload {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 450px;
    left: 550px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 60px;
    border-radius: 10px;
}
#SubmitRecord{
    height: 40px;
    width: 210px;
    border-radius: 10px;
    border: 2px solid #59C174;
    position: absolute;
    top: 530px;
    left: 570px;
}
#SubmitRecord:hover{
    background-color: #59C174;
}
#SubmitRecord > :first-child {
    position: absolute;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-inline: 30px;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 8px;
    left: 8px;
}
#SubmitRecord > :first-child:hover {
    position: absolute;
    text-align: center;
    color: rgb(255, 255, 255);
    padding-inline: 30px;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 8px;
    left: 8px;
}