*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    position: relative;
}
#PLine{
    position: absolute;
    width: 4px; 
    height: 45px; 
    background-color: #59C174; 
    top: 100px;
    left: 280px;
}
#MP{
    position: absolute;
    font-size: 24px;
    font-weight: 700;
    top: 100px;
    left: 290px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#general{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    top: 150px;
    left: 320px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#updateacc{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    top: 380px;
    left: 320px;
    text-decoration: underline;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#Generalform #Label1 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 250px;
    left: 300px;
}
#Generalform #Firstname {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 280px;
    left: 300px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#Generalform #Label2 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 320px;
    left: 300px;
}
#Generalform #Lastname {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 350px;
    left: 300px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#Generalform #Label3 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 380px;
    left: 300px;
}
#Generalform #accemail {
    position: absolute;
    font-size: 16px;
    color: black;
    top: 410px;
    left: 300px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#Generalform #Label4 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 450px;
    left: 300px;
}
#Generalform #role {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 480px;
    left: 300px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#Generalform #Label5 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 250px;
    left: 800px;
}
#Generalform #dob {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 280px;
    left: 800px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#Generalform #Label6 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 310px;
    left: 800px;
}
#Generalform #city {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 340px;
    left: 800px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#Generalform #Label7 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 370px;
    left: 800px;
}
#Generalform #pcode {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 410px;
    left: 800px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#Generalform #Label8 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 450px;
    left: 800px;
}
#Generalform #profileImage {
    position: absolute;
    font-size: 10px;
    color: black;
    top: 480px;
    left: 800px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}


#UpdateaccForm #NLabel1 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 420px;
    left: 350px;
}
#UpdateaccForm #Changename {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 420px;
    left: 500px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#UpdateaccForm #NLabel2 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 470px;
    left: 350px;
}
#UpdateaccForm #changeemail {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 470px;
    left: 500px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#UpdateaccForm #NLabel3 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 520px;
    left: 350px;
}
#UpdateaccForm #changepassword {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 520px;
    left: 500px;
    border-color: transparent;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#UA{
    height: 35px;
    width: 180px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 550px;
    left: 700px;
}
#UA > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 5px;
    left: 20px;
}
#DA{
    height: 35px;
    width: 150px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 130px;
    left: 1100px;
}
#DA > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 5px;
    left: 20px;
}
#updaterecord{
    height: 35px;
    width: 180px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 130px;
    left: 900px;

}
#updaterecord > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 5px;
    left: 20px;
}
#Savebtn{
    height: 35px;
    width: 100px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 550px;
    left: 650px;
    color: white;
}


#ProfilePicture{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-position: center;
    background-size: contain;;
    position: absolute;
    top: 150px;
    left: 330px;
    background-image: url("8724.jpg");
}

#name{
    position: absolute;
    top: 180px;
    left: 450px;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#email1{
    position: absolute;
    top: 210px;
    left: 450px;
    font-size: 14px;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
