#grid {
    position: absolute;
    gap: 20px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    height: 430px;
    width: 1050px;
    top: 160px;
    left: 280px;
    overflow-x: auto; 
    padding: 10px 0; 
}

.profile-info {
    padding: 10px; 
}

.profile-name {
    font-size: 18px; 
    margin-bottom: 5px; 
}

.profile-details,
.profile-dob,
.profile-location,
.profile-department {
    font-size: 14px;
    margin-bottom: 5px;
}

.fyp-button {
    background-color: #59C174; 
    border: none; 
    color: white; 
    padding: 8px 16px; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 14px; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.fyp-button:hover {
    background-color: #07b134; 
}
