*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    position: relative;
}
#main{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
#leftside{
    position: absolute;
    height: 100%;
    width: 60%;
    background-color: #59C174;
    display: flex;
}
#imgg{
    height: 60%;
    width: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 65px;
    left: 200px;
    background-image: url("LRImg.png");
    box-shadow: 5px 5px 10px 10px #084d1b;
    border-radius: 50px;
    background-position: center;
    background-size: cover;
}
.LRp{
    height: 3%;
    width: 65%;
    text-align: center;
    position: absolute;
    top: 460px;
    left: 130px;
    color: rgb(2, 2, 2);
    font-size: x-large;
    font-weight: bolder;
    word-spacing: 0px;
    font-family: lato, sans-serif;
}
.LRT{
    height: 3%;
    width: 65%;
    text-align: center;
    position: absolute;
    top: 440px;
    left: 100px;
    color: #0d0d0e;
    font-size: x-large;
    font-weight: bolder;
    word-spacing: 0px;
    font-family: lato, sans-serif;
}
#rightside{
    position: absolute;
    height: 100%;
    width: 40%;
    background-color: #FAFAFA;
    display: flex;
    left: 60%;
}
#top{
    position: absolute;
    display: flex;
    color: rgb(3, 3, 3);
    font-size: x-large;
    font-weight: bolder;
    height: 40px;
    font-family: lato, sans-serif;
    width:220px;
    background-color: #59C174;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#top h1{
    margin-left: 30px;
}
#text{
    position: absolute;
    width: 10%;
    width: 5%;
    color: #000000;
    top: -350px;
    left: 30px;
    font-size: xx-large;
    font-weight: bolder;
    word-spacing: 0px;
    font-family:lato, sans-serif;
}
#Rform{
    width: 100%;
    margin: 150px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: medium;
    font-weight: bolder;
    word-spacing: 0px;
    font-family:lato, sans-serif;
    margin-left: 120px;
}
#Lform{
    width: 100%;
    margin: 150px;
    padding: 10px;
    color: rgb(233, 233, 240);
    font-size: medium;
    font-weight: bolder;
    word-spacing: 0px;
    font-family:lato, sans-serif;
    margin-left: 120px;
    margin-top: 150px;
}
input{
    margin-top: 10px;
    height: 40px;
    width:300px;
    padding-left: 20px;
    border-radius: 50px;
    color: #2c2e4e;
    border: 1px solid #2c2e4e;
    font-size: medium;
    font-weight: 500;
    font-family:lato, sans-serif;
    transition: border-color 0.3s ease;
}
input:focus, input:valid
{
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: #2c2e4e;
  margin: 0;
  padding: 10px;
  border: 1px solid #2c2e4e;
  outline: none;
  box-shadow: 0 0 2px #2c2e4e;
}
select:focus, select:valid{
    font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: #2c2e4e;
  margin: 0;
  padding: 10px;
  border: 1px solid #2c2e4e;
  outline: none;
  box-shadow: 0 0 2px #2c2e4e;
}
input:focus, input:not(:placeholder-shown),
select:focus, select:not(:placeholder-shown) {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: #2c2e4e;
    margin: 0;
    padding: 10px;
    border: 1px solid #2c2e4e;
  outline: none;
  box-shadow: 0 0 2px #2c2e4e;
  }
option{
    margin-top: 10px;
    height: 40px;
    width:300px;
    padding-left: 20px;
    border-radius: 50px;
    color: #2c2e4e;
    font-size: medium;
    font-weight: 500;
    font-family:lato, sans-serif;
}
label{
color: rgb(24, 24, 58);
}
select{
    margin-top: 10px;
    height: 40px;
    width:300px;
    padding-left: 20px;
    border-radius: 50px;
    color: white;
    font-size: medium;
    font-weight: 500;
    font-family:lato, sans-serif;
}
input::placeholder {
    color: white;
    opacity: 1; 
    padding: 10px;
}
::-ms-input-placeholder { 
    color: white;
    padding: 10px;
}

#Rbutton{
    position: absolute;
    top: 520px;
    left: 220px;
    height: 30px;
    width:100px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 5px #59C174;
    font-size: medium;
    font-weight: bold;
    font-family:lato, sans-serif;
}
#Lbutton{
    position: absolute;
    top: 460px;
    left: 230px;
    height: 30px;
    width:100px;
    border-radius: 50px;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px 5px #59C174;
    font-size: medium;
    font-weight: bold;
    font-family:lato, sans-serif;
}
::selection{
    color: rgb(170, 15, 131);
}
#Areadyaccount{
    position: absolute;
    top: 570px;
    left: 150px;
    color:black;
    font-size: medium;
    font-weight: normal;
    font-family:lato, sans-serif;
}
#AreadyaccountLogin{
    position: absolute;
    top: 540px;
    left: 160px;
    color:black;
    font-size: medium;
    font-weight:bold;
    font-family:lato, sans-serif;
}