*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    position: relative;
}
#VLine{
    position: absolute;
    width: 4px; 
    height: 55px; 
    background-color: #59C174; 
    top: 110px;
    left: 300px;
}
#VLine2{
    position: absolute;
    width: 4px; 
    height: 55px; 
    background-color: #59C174; 
    top: 350px;
    left: 300px;
}
#VLine3{
    position: absolute;
    width: 4px; 
    height: 55px; 
    background-color: #59C174; 
    top: 500px;
    left: 300px;
}
#welcome{
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    top: 110px;
    left: 310px;
font-family:lato, sans-serif;
}
#welcome h1{
    position: absolute;
    font-size: 26px;
    font-weight: 600;
    color: #59C174;
    top: 5px;
    left: 170px;
font-family:lato, sans-serif;
}
#AddRecord{
    position: absolute;
    font-size: 28px;
    font-weight: 700;
    top: 350px;
    left: 310px;
font-family:lato, sans-serif;
}
#Addalumniprofile{
    position: absolute;
    font-size: 28px;
    font-weight: 700;
    top: 500px;
    left: 310px;
font-family:lato, sans-serif;
}
#myprofilebtn{
    height: 100px;
    width: 250px;
    border-radius: 20px;
    background-color: #59C174;
    position: absolute;
    top: 190px;
    left: 30px;
}
#myprofilebtn > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 30px;
    left: 10px;
  }
#Picon{
    position: absolute;
    text-align: center;
    color: rgb(209, 205, 205);
    font-size: 34px;
    font-weight: 900;
    font-family:lato, sans-serif;
    top: 0px;
    left: 200px;
}
#VerticalLane{
    position: absolute;
    width: 3px; 
    height: 400px; 
    background-color: #59C174; 
    transform: rotate(90Deg);
    top: 130px;
    left: 800px;
}
#addrecordbtn{
    height: 30px;
    width: 200px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 410px;
    left: 330px;
}
#addrecordbtn > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
font-family:lato, sans-serif;
    top: 0px;
    left: 10px;
}
#addicon{
    position: absolute;
    text-align: center;
    color: rgb(230, 221, 221);
    font-size: 22px;
    font-weight: bolder;
font-family:lato, sans-serif;
    top: 5px;
    left: 160px;
}
#addachievementbtn{
    height: 30px;
    width: 200px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 460px;
    left: 330px;
}
#addachievementbtn > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
font-family:lato, sans-serif;
    top: 0px;
    left: 10px;
}
#achicon{
    position: absolute;
    text-align: center;
    color: rgb(230, 221, 221);
    font-size: 22px;
    font-weight: bolder;
font-family:lato, sans-serif;
    top: 5px;
    left: 160px;
}
#AlumniProfilebtn{
    height: 30px;
    width: 200px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 550px;
    left: 330px;
}
#AlumniProfilebtn > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
font-family:lato, sans-serif;
    top: 0px;
    left: 10px;
}