*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
    position: relative;
}

#news{
    position: absolute;
    font-size: 26px;
    font-weight: 700;
    top: 200px;
    left: 320px;
    text-decoration: underline;
    font-family:lato, sans-serif;
}

#NewsPostbtn{
    height: 30px;
    width: 150px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 410px;
    left: 330px;
}
#NewsPostbtn > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 0px;
    left: 10px;
}
#AlumniProfilebtn{
    height: 30px;
    width: 150px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 550px;
    left: 330px;
}
#AlumniProfilebtn > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 0px;
    left: 10px;
}
#UpdateAccountbtn{
    height: 30px;
    width: 200px;
    border-radius: 50px;
    background-color: #59C174;
    position: absolute;
    top: 170px;
    left: 750px;
}
#UpdateAccountbtn > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 0px;
    left: 10px;
}
#JobForm #Label1 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 250px;
    left: 350px;
}
#JobForm #jobTitle {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 250px;
    left: 500px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#JobForm #Label2 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 290px;
    left: 350px;
}
#JobForm #joblocation {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 290px;
    left: 500px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#JobForm #Label3 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 330px;
    left: 350px;
}
#JobForm #joblink {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 330px;
    left: 500px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#JobForm #Label4 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 370px;
    left: 350px;
}
#JobForm #skill {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 370px;
    left: 500px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#JobForm #Label5 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 410px;
    left: 350px;
}
#JobForm #experience {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 410px;
    left: 500px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#NewsForm #NLabel1 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 250px;
    left: 350px;
}
#NewsForm #newsTitle {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 250px;
    left: 500px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#NewsForm #NLabel2 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 290px;
    left: 350px;
}
#NewsForm #newsdescription {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 290px;
    left: 500px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;
}
#NewsForm #NLabel3 {
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 330px;
    left: 350px;
}
#NewsForm #newsType {
    position: absolute;
    font-size: 18px;
    color: black;
    top: 330px;
    left: 500px;
    background-color: rgb(241, 238, 238);
    height: 30px;
    border-radius: 10px;}
#NewsForm #NLabel4 {
        position: absolute;
        font-size: 18px;
        font-weight: 700;
        font-family:lato, sans-serif;
        top: 370px;
        left: 350px;
    }
#NewsForm #Location {
        position: absolute;
        font-size: 18px;
        color: black;
        top: 370px;
        left: 500px;
        background-color: rgb(241, 238, 238);
        height: 30px;
        border-radius: 10px;}
#NewsForm #NLabel5 {
            position: absolute;
            font-size: 18px;
            font-weight: 700;
            font-family:lato, sans-serif;
            top: 410px;
            left: 350px;
        }
#NewsForm #newsDate {
            position: absolute;
            font-size: 18px;
            color: black;
            top: 410px;
            left: 500px;
            background-color: rgb(241, 238, 238);
            height: 30px;
            border-radius: 10px;}
#NewsForm #NLabel6 {
                position: absolute;
                font-size: 18px;
                font-weight: 700;
                font-family:lato, sans-serif;
                top: 460px;
                left: 350px;
            }
#NewsForm #newsIcon {
                position: absolute;
                font-size: 18px;
                color: black;
                top: 450px;
                left: 500px;
                background-color: rgb(241, 238, 238);
                height: 50px;
                border-radius: 10px;}
#jobsubmit{
    height: 30px;
    width: 130px;
    border-radius: 20px;
    background-color: #59C174;
    position: absolute;
    top: 500px;
    left: 500px;
}
#jobsubmit > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 0px;
    left: 10px;
}
#newssubmit{
    height: 30px;
    width: 130px;
    border-radius: 20px;
    background-color: #59C174;
    position: absolute;
    top: 540px;
    left: 500px;
}
#newssubmit > :first-child {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family:lato, sans-serif;
    top: 0px;
    left: 10px;
}